<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="NBAStatisticsEntities" connectionString="metadata=res://*/Models.NBAStatisticsModel.csdl|res://*/Models.NBAStatisticsModel.ssdl|res://*/Models.NBAStatisticsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=77e79259-ed13-497d-83d1-a6aa0181690b.sqlserver.sequelizer.com;initial catalog=db77e79259ed13497d83d1a6aa0181690b;persist security info=True;user id=cetyyumalwryuhvj;password=E8XHTNJx8cyUoWb5boqg2KRxfWCpvJNdTTBPxtzzHwa5wRUMZT6JbTC3pzB5ktbx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>